@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left max-width--800 pt-3">
    <h1 class="display-4 pb-3">Hey there!</h1>
    <p>My name is Kimberly Nachbur, and I built this little web app to brush up on my 
    C# and really sink my teeth into .NET architecture and the ArcGIS API.</p>
    <p>To see a map of all the current road incidents in Oregon right now, pulled 
    live from ODOT's API, you can click here or navigate to the "Traffic Map" link 
    in the nav bar.</p>
    <p>To learn more about me and my work, you can 
    <a href="https://www.linkedin.com/in/kimberly-anne/">check out my LinkedIn</a> - and if you 
    want to gauge how much archtecture I've really sunk my teeth into, you can find 
    <a href="https://github.com/kimboleh/oregon-traffic-map">this 
    project's code over on my GitHub</a>.</p>
</div>
