  $color-ODOTOrange: #FF7900;
  $color-ODOTBlue: #1C355E;
  $color-Greenie: #097881;
  $color-Scooter: #2AD2C9;

  $footer-height: 68px;
  $header-height: 63px;

.max-width--800 {
  max-width: 800px;
}